In [3]:
print("I love pyhton")

I love pyhton

In [6]:
print("I love pyhton")

I love pyhton

In [8]:
2 + 2

4

In [13]:
age = 23

height = 23.8

name = "Mustapha Laba"

In [15]:
num1 = 2
num2 = 5
num3 = 6
avg = (num1 + num2 + num3) /3
"The average of {}, {}, {}".format(num1, num2, num3, avg)

'The average of 2, 5, 6'

In [17]:
import sys

In [18]:
print (sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [19]:
4 * 4

16

In [20]:
print (4 * 4)

16

In [23]:
x = 3 + 2 * 2
print ( 3 +2 * 2)

"The value of X is" + str(x)
"The value of "

7

In [26]:
print ((3 + 2) * 2)

10

In [ ]:
ages = [23, 45, 67, 89,]

In [35]:
Rakiya_ages = [50, 55, 60, 65, 70, 75, 80]
Rakiya_ages [3 : 7]

[65, 70, 75, 80]

In [36]:
Rakiya_ages [4]

70

In [37]:
sum(Rakiya_ages)

455

In [40]:
for character in "Alaba":
    print(character)

A
l
a
b
a

In [43]:
ages = [1,2,3,4,5,5,6,7,8,9]

new_ages = []
for age in ages:
    if age > 5:
        new_ages.append(age)
        
        
        
new_ages

[6, 7, 8, 9]

In [46]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for num in range (1, 11):
    
    multiplier = 1
    while multiplier < 10:
        print("{} * {} = {}" .format(num, multiplier, num * multiplier))
        multiplier += 1
    print("----------")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
----------

In [9]:
for num in range (-5, 5):
    print(num)

-5
-4
-3
-2
-1
0
1
2
3
4

In [15]:
Genres= ['Rock', 'soul', 'poop']
for Music in Genres:
    print(Music)

Rock
soul
poop

In [18]:
PlayListRatings= [10, 9.5, 10, 8, 7.5, 5, 10, 10]

for rating in PlayListRatings:
    if rating < 6:
        break
    print(rating)

10
9.5
10
8
7.5

In [23]:
PlayListRatings= [10, 9.5, 10, 8, 7.5, 5, 10, 10]

for rating in PlayListRatings:
    if rating > 6:
         print(rating)

10
9.5
10
8
7.5
10
10

In [24]:
PlayListRatings= [10, 9.5, 10, 8, 7.5, 5, 10, 10]


rating_indx = 0
while rating_indx < len(PlayListRatings) - 1:
    
    if PlayListRatings[rating_indx] < 6:
        break
    print(PlayListRatings[rating_indx])

    rating_indx = rating_indx + 1

10
9.5
10
8
7.5